[Unit]
Description=docker-compose service "%f"
Requires=compose-update@.timer

[Service]
WorkingDirectory=%f
Restart=always
Environment=COMPOSE_PROJECT_NAME=%i

ExecStartPre=/usr/bin/env docker-compose pull
ExecStartPre=/usr/bin/env docker-compose build --pull
ExecStart=/bin/sh -c 'trap "docker-compose up & kill -HUP %-" HUP; docker-compose up & while ! wait; do :; done'

ExecStop=/usr/bin/env docker-compose stop

ExecReload=/usr/bin/env docker-compose pull
ExecReload=/usr/bin/env docker-compose build --pull
ExecReload=/usr/bin/env kill -HUP "$MAINPID"

[Install]
WantedBy=multi-user.target
