[Unit]
Description=docker-compose update service "%f"

[Service]
Type=oneshot

WorkingDirectory=%f
Environment=COMPOSE_PROJECT_NAME=%i
Environment=DOCKER_COMPOSE=docker-compose

ExecStart=/usr/bin/env "${DOCKER_COMPOSE}" pull
ExecStart=/usr/bin/env "${DOCKER_COMPOSE}" build --pull
ExecStart=/usr/bin/env "${DOCKER_COMPOSE}" up --no-start
