[Unit]
Description=docker-compose service "%f"
Requires=compose-update@.timer

[Service]
WorkingDirectory=%f
Restart=always
Environment=COMPOSE_PROJECT_NAME=%i
Environment=DOCKER_COMPOSE=docker-compose

ExecStartPre=/usr/bin/env "${DOCKER_COMPOSE}" pull
ExecStartPre=/usr/bin/env "${DOCKER_COMPOSE}" build --pull
ExecStart=/usr/bin/env -- bash -c 'set -m; trap "\\"$DOCKER_COMPOSE\\" up & kill -HUP %-" HUP; "$DOCKER_COMPOSE" up & while ! wait; do :; done'

ExecStop=/usr/bin/env "${DOCKER_COMPOSE}" stop

ExecReload=/usr/bin/env "${DOCKER_COMPOSE}" pull
ExecReload=/usr/bin/env "${DOCKER_COMPOSE}" build --pull
ExecReload=/usr/bin/env kill -HUP "${MAINPID}"

[Install]
WantedBy=multi-user.target
